<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark ">
      <a href="#" class="navbar-brand mx-auto">NEWS</a>
    </nav>
    <div class="class div-to-align" id="texto">
      <div id="texto-2">
        <h1>BIENVENIDO</h1>
        <h3>A</h3>
        <h1>LAS NOTICIAS</h1>

      </div>
      <a href="/news" id="boton">VER NOTICIAS</a>
      <img src="https://t3.ftcdn.net/jpg/02/23/38/64/360_F_223386472_g3ZlTnCCTRD9jtcvXML9F3HUNu91UAa0.jpg" alt="" >
    </div>
    <footer class="navbar navbar-dark bg-dark blockquote-footer" id="foot">
      <a href="#" class="navbar-brand mx-auto">footer</a>
    </footer>
  </body>
</html>
